h1 {
  font-style: strong;
  text-align: center;
  outline: auto;
  color: #6C786A;
}
h2 {
  text-align: center;
  outline: auto;
  color: #6C786A;
}
body {
  background-color: #E9C7D5;
}
aside {
  text-decoration: underline;
  padding-left: 3%;
}
ul {
  padding-bottom: 50px;
}
ol {
  padding-bottom: 50px;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Center {
  text-align: center;
}
.FLASHY {
  padding-top: 500px;
  color: red;
  font-size: 250px;
}